.cv-button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #17795E;
  background-color: #209978;
  overflow: hidden;
}

.cv-button, .cv-button__icon, .cv-button__text {
  transition: all 0.3s;
}

.cv-button .cv-button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.cv-button .cv-button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #17795E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv-button .svg {
  width: 20px;
  fill: #fff;
}

.cv-button:hover {
  background: #17795E;
}

.cv-button:hover .cv-button__text {
  color: transparent;
}

.cv-button:hover .cv-button__icon {
  width: 148px;
  transform: translateX(0);
}

.cv-button:active .cv-button__icon {
  background-color: #146c54;
}

.cv-button:active {
  border: 1px solid #146c54;
}

.centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}