.tile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tile-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.tile-description {
    font-size: 1rem;
    color: #659;
    line-height: 1.5;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slide-down 0.3s ease-in-out;
    z-index: 1010;
}

.tile.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tile.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.showcase {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    height: 40vh;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: grid;
    align-items: center;
}

.showcase.two-items {
    grid-template-columns: 50%;
}

.showcase.three-items {
    grid-template-columns: repeat(3, 1fr);
}

.showcase-container {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.showcase-container.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.showcase-container.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.showcase-image-left {
    grid-column: 1;
}

.showcase-image-right {
    grid-column: 3;
}

.showcase-content {
    grid-column: 2;
}

@keyframes slide-down {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}