.tile {
    background-color: #273656;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(15, 20, 35, 0.301);
    padding: 20px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.4s ease-in-out;;
}

.tile.standard {
    width: 300px;
    height: 300px;
}

.tile.standard:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #747bff;
}

.tile-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f7f5f5;
    margin-bottom: 10px;
}

.tile.fade-out {
    opacity: 0;
}

.tile.fade-in {
    opacity: 1;
}

.showcase {
    background-color: #273656;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    height: 40vh;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: grid;
    align-items: center;
}

.showcase.two-items {
    grid-template-columns: 30% 70%;
}

.showcase.three-items {
    grid-template-columns: 25% 50% 25%;
}

.showcase-container {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.showcase-container.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.showcase-container.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.showcase-image-left {
    grid-column: 1;
    max-height: 35vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.showcase-image-right {
    grid-column: 3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.showcase-content {
    grid-column: 2;
}

.showcase img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    margin: auto;
}

@keyframes slide-down {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}