.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.images img {
  max-width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.selected {
  transform: scale(1.2);
  margin: 10px;
  z-index: 1;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}
