.tags-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
  
.tag {
  background-color: #e0f7fa;
  color: #004466;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 16px;
  font-weight: bold;
  white-space: nowrap;
}
