.container {
    display: grid;
    grid-template-columns: 50%;
    column-gap: 30px;
    align-items: center;
}

.leftItem {
    grid-column: 1;
    align-items: right;
}

.rightItem {
    grid-column: 2;
    align-items: left;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 15px 0;
    min-height: '100px'
}

.timeline-item:hover {
    transform: 
        translateZ(10px) 
        scale(1.03);
    opacity: 1;
    z-index: 10;
    transition: 0.4s;
}

.timeline-item.right {
    align-self: flex-end;
    justify-content: flex-start;
}

.hidden {
    display: none;
}

.stripe {
    display: flex;
    flex-direction: column;
    position: relative;
}

.stripe::after {
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    height: 100%;
}